<template lang="html">
    <div>
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-1">
            {{ label }}
        </label>
        <div class="relative inline-flex w-full text-sm">
            <div @click="select('')"
                 class="w-1/3 text-grey-darker text-center py-2 px-1 rounded-l border border-grey-light border-r-0"
                 :class="{'bg-grey-light': (value === ''), 'bg-white': (value !== '')}"
            >
                Any
            </div>
            <div @click="select('1')"
                 class="w-1/3 text-grey-darker text-center py-2 px-1 border border-grey-light"
                 :class="{'bg-grey-light': (value === '1'), 'bg-white': (value !== '1')}"
            >
                Yes
            </div>
            <div @click="select('0')"
                 class="w-1/3 text-grey-darker text-center py-2 px-1 rounded-r border border-grey-light border-l-0"
                 :class="{'bg-grey-light': (value === '0'), 'bg-white': (value !== '0')}"
            >
                No
            </div>
        </div>
        <input type="hidden" :value="value" :name="name">
    </div>
</template>

<script>
    export default {
        props: ['label', 'name', 'selected'],
        data () {
            return {
                value: ''
            }
        },
        mounted () {
            this.value = this.selected
        },
        methods: {
            select (v) {
                this.value = v
            }
        }
    }
</script>
